@font-face {
  font-family: "JunctionLight";
  src: url("./fonts/junction.light-webfont.woff2") format("woff2"),
    url("./fonts/junction.light-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  letter-spacing: 0.7px;
  margin: 0;
}

/* Section  */
.fdb-block {
  margin: 0 auto;
  padding: 30px 0;
  font-family: "JunctionLight", Helvetica, Arial, sans-serif;
}

.fdb-block .container {
  width: 80%;
}

/* Title  */
.main-image {
  position: relative;
  width: 100%;
}

h1.page-title {
  width: 100%;
  position: absolute;
  top: 110px;
  color: white;
  text-align: center;
  font-size: 8rem;
  font-weight: 500;
  font-family: "Georgia";
}

section.social-media {
  padding-bottom: 0;
}

.community-science img,
.interests img {
  border-radius: 50%;
  width: 80%;
}

.tools,
.interests {
  background-color: rgba(196, 219, 240, 0.2);
  width: 100%;
}

.secondary-text {
  color: rgba(47, 96, 207, 1);
}

.call-to-action-bottom {
  padding: 2.5rem 0;
}

.divider-hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* carousel */

.col-md-4 {
  display: inline-block;
  margin-left: -10px;
}
.col-md-4 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon {
  background-color: #000;
}

span.carousel-control-prev-icon {
  position: relative;
  bottom: 72px;
  right: 40px;
}

span.carousel-control-next-icon {
  position: relative;
  bottom: 72px;
  left: 30px;
}
